@import './global.scss';

// /*---------------------------基础样式---------------------------------*/

body,html,#app{height: 100%;margin: 0;padding: 0;}
body {color: $default-color;font-size: $default-size;font-family: "microsoft yahei";}
pre {font-family: "microsoft yahei";line-height: 20px;white-space: pre-wrap;word-wrap: break-word;}
img {display: block;}
li{list-style-type:none;}
.pointer {cursor: pointer;}
.text-right {text-align: right;}
.icon{width: 16px;height: 16px;}
svg.icon{width: 1em; height: 1em;vertical-align: -0.15em;fill: currentColor;overflow: hidden;}

/*----------谷歌浏览器修改滚动条样式----------*/
::-webkit-scrollbar {width: 8px;height: 8px;background: #fff;}
::-webkit-scrollbar-thumb {background-color: $common-border;border-radius: 3px;}

/*----------弹性盒模型----------*/
.flex {display: flex;flex-direction: row;}
.flex-center {display: flex;flex-direction: row;align-items: center;}
.flex-end {display: flex;align-items: flex-end;}
.flex-center-end {display: flex;flex-direction: row;align-items: center;justify-content: flex-end;}
.flex-center-between {display: flex;flex-direction: row;align-items: center;justify-content: space-between;}
.flex-center-center {display: flex;align-items: center;justify-content: center;}
   
/*----------字体颜色  红-黄-蓝-绿-灰----------*/
.error-font {color: $error-color !important;}
.warn-font {color: $warn-color !important;}
.primary-font {color: $primary-color !important;}
.success-font {color: $success-color !important;}
.gray-font {color: $gray-color !important;}
.icon-font {color: $common-placeholder !important;}
.cancel-font {color: $common-placeholder !important;cursor: default !important;}


/*---------------------------页面公共样式---------------------------*/
/* 容器 --- 高度需要减去title 72,footer 50 */
.container {width: calc(100% - 32px);max-width: 1600px;min-height: calc(80vh);  background: #fff;box-sizing: border-box;padding: 24px;margin: 0 16px;border-radius: 8px;}

/* login页------登录input */
.login-input input{height: 50px;}
.login-input .el-input__clear{line-height: 50px;}


